<div ng-controller="CustomerLoginController">
    <div ng-if="answers[question.id].loggedIn">
        <p class="form-control-static">{{::answers[question.id].email}}</p>
    </div>
    <div ng-if="!answers[question.id].loggedIn">
        <input name="question" class="form-control" ng-model="answers[question.id].email" ng-blur="searchEmail()" ng-required="question.mandatory">
        <p ng-show="existing">
            Welcome back {{answers.first_name || 'user'}}, our records indicate you have registered with us in the past.
            Please enter your password below, or do you need help with your password?
        </p>
        <p ng-if="errors[question.id]" class="form-control-static text-danger">{{errors[question.id]}}</p>
        <div>
            <label>Password</label>
            <input class="form-control" ng-model="answers[question.id].plainTextPassword" type="password">
        </div>
    </div>
    <error-messages></error-messages>
</div>
