<div>
    <input type="hidden" name="question" ng-model="answers[question.id]" ng-required="question.mandatory">
    <div class="btn-group">
        <button ng-model="$parent.answers[$parent.question.id]"
            btn-radio="'{{value}}'"
            class="btn"
            ng-repeat="value in question.values"
            ng-class="{'btn-success' : $parent.answers[$parent.question.id] === value, 'btn-default' : $parent.answers[$parent.question.id] !== value}">
            {{value}}
        </button>
    </div>
    <error-messages></error-messages>
    <question-groups groups="question.groups" trigger-id="question.id" answers="answers">
    </question-groups>
</div>
