<div>
    <p class="input-group col-md-6" ng-controller="CalendarSelectController">
        <input name="question" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="selectedDate" is-open="opened" close-text="Close" ng-required="question.mandatory">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>
    <error-messages></error-messages>
</div>
